:root {
    --ds-primary: #007bff;
    --ds-error: #dc3545;
    --ds-success: #28a745;
    --ds-warning: #ffc107;
    --ds-ambient-0: #f8f9fa;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#chat-container {
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

#chat-box {
    height: 72%;
    overflow-y: auto;
    padding: 40px 10px 10px;
    background-color: #e9eff5;
    display: flex;
    flex-direction: column;
}

#user-input {
    border: 1px solid #a9b9d2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    font-size: small;
    line-height: 2;
    color: #333;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
    padding-left: 8%;
}

#chat-container.expanded #user-input {
    box-sizing: border-box;
    width: 100%;
}

#input-container {
    width: 100%;
    display: flex;
    bottom: 0;
}


#user-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
}

.bot-image{
    flex-shrink: 0;
    flex-basis: auto;
}

.message {
    animation: slideIn 0.5s ease-out;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 1;
}

#chat-button {
    position: fixed;
    bottom: 0;
    right: -80px;
    width: 165px;
    height: 80px;
    background-color: #c5d9fe;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-image: url('https://pic.onlinewebfonts.com/thumbnails/icons_382883.svg');
    background-repeat: no-repeat;
    background-position: 25% 80%;
    background-size: 25%;
    overflow: hidden;
}

#minimize-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 25px;
    height: 25px;
    background: url('https://pic.onlinewebfonts.com/thumbnails/icons_420951.svg') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#fullscreen-button {
    background: url('https://icon-library.com/images/fullscreen-icon-vector/fullscreen-icon-vector-21.jpg') no-repeat center center;
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 10;
    width: 25px;
    height: 25px;
    background-size: contain;
    border: none;
    cursor: pointer;
}

#chat-container.expanded {
    width: 20%;
    height: 85%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    transition: width 0.3s, height 0.3s;
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom, #c7d6f3 20%, transparent 20%);
}

#chat-container.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

#chat-container.fullscreen #user-input {
    position: static;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;

}
#chat-container.fullscreen #input-container{
    height: 9%;
}
#chat-container.fullscreen #input-container img{
    width: 5%;
    height: 80%;
    margin-top: .5%;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}
.user-message {
    background-color: #d1e7fd;
    align-self: flex-start;
    margin-left: auto;
}

.bot-message {
    background-color: #eef9fc;
    margin-right: auto;
    display: flex;
}
.bot-message.button{
    width: 80%;
    flex-wrap: wrap;

}
.bot-message-discovery {
    background-color: #e3f5f5;
    align-self: flex-end;
    margin-right: auto;
    display: flex;
}

.bot-message-link {
    display: flex;
    margin-top: 10px;
    color: #1a0dab;
    text-decoration: none;
    font-size: 12px;
}

.bot-message-link:hover {
    text-decoration: underline;
    color: #007daa;
}

.message img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    float: left;
    cursor: default;
}

.message:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    margin-left: 20px;
    background-color: transparent;
}
.response-button {
    padding: 5px 10px;
    background-color: transparent;
    color: #1e1f22;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s, transform 0.2s;
}

.typing-animation {
    font-size: 40px;
    display: inline-flex;
    width: 50px;
    color: #1a0dab;
}

.typing-dot {
    display: inline-flex;
    animation: bounce 1.4s infinite ease-in-out both;
    margin: 0 0;
}

@keyframes bounce {
    0%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
}


.response-button:disabled {
    opacity: 0.5;
    background-color: #cccccc;
    transition: all 0.3s ease;
    cursor: not-allowed;
}

@keyframes disabledButtonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.response-button:disabled {
    animation: disabledButtonAnimation 1s ease;
}

.response-button:hover {
    color: #0056b3;
    border-color: #0056b3;
    transform: scale(1.05);
}

.response-button:active {
    transform: scale(0.95);
}

span{
    width: 70%;
}
.enter{
    width: 12%;
    height: 12%;
    cursor: pointer;
    margin-top: .5%;
    margin-left: 3%;
    margin-right: 3%;

}

.message .response-image {
    width: 80%;
    border-radius: 0;
    margin-top: 10px;
    height: auto;
}



.message h4 {
    margin: 5px 0;
}

.message p {
    margin: 5px 0;
}


.title{
    display: flex;
    width: 50px;
}

h2{
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    #chat-container {
        width: 80px;
        height: 80px;
        bottom: 10px;
        right: 10px;
    }

    #chat-container.expanded {
        width: 60%;
        height: 70%;
    }

    #chat-container.fullscreen {
        width: 100%;
        height: 100%;
    }

    .message {
        padding: 8px;
    }

    #chat-button {
        right: -60px;
        width: 120px;
        height: 60px;
        background-size: 20%;
    }
}

@media only screen and (max-width: 480px) {
    #chat-container {
        width: 50px;
        height: 50px;
    }

    #chat-container.expanded {
        width: 80%;
        height: 80%;
    }

    #user-input, #chat-container.fullscreen #user-input {
        padding: 8px;
    }

    .message {
        padding: 6px;
    }

    #chat-button {
        right: -40px;
        width: 100px;
        height: 50px;
        background-size: 15%;
    }
}